<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all", "data-turbolinks-track" => true, async: true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true, async: Rails.env.production?  %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render "flashes" -%>
  <%= yield %>
</body>
</html>
